<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Taller 1 RF2</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
	<body>
	<div class="container">
      <div class="py-5 text-center">
      {% load static %}
        <img class="d-block mx-auto mb-4" src="{% static "app1/img/header.png" %}" alt="" width="1000" height="342">
        <h1>Taller 1</h1>
        <p class="lead">Requerimiento Funcional 1</p>
      </div>
    </div>
    <div class="container">
       <div class="text-left">
        <h2>Respuesta</h2>
     </div>
      <div class="py-2">
        <p>Entre las horas <strong>{{ inicio }}</strong> y <strong>{{ fin }}</strong> la mayor cantidad de taxis se dirigen hacia <strong>{{ destino }}</strong>: <strong>{{ viajes }}</strong> viajes. </p>
      </div>
  	<div class="container">
        <div class="py-1 text-center">
          <p class="lead"> </p>
        </div>
  	</div>
  </div>
      <div class="container">
        <div class="row">
          <div class="col-5"></div>
          <div class="col-2">
            <button type="button" class="btn btn-primary" onclick="location.href='{% url 'app1:index' %}'" > Volver</button>
          </div>
          <div class="col-5"></div>
        </div>
      </div>
	</body>
